.table-header-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    color:  white;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.09);
}

.div-every-user{
    justify-content: center;
    display: flex;
    margin-top: 1vh;
    
}
.div-every-user-input{
    display: flex;
    margin-top: 2vh;
    margin-left: 12.2vw;
    height: 4vh;
    
}

.table{
    width: 75vw;
}

.td-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.792);

}