
#card-img{
    height: 25vh;
    width: 8vw;
}

.card-image{
    padding-top: 2vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 9.8vw);
}

.grid-item {
    font-size: 30px;
}

.divTitle{
    margin-top: -15px;
    height:55px;
    width: 8vw;
    background-color:#00000010;
    justify-content: center;
}

.movieTitle{
    margin-top: 5px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}

.divRating{
    height: fit-content;
    width: 8vw;
}

.movieRating{
    font-weight: bold;
    font-size: 13px;
    color: black;
    background-color: rgba(255, 255, 255, 0.793);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.bestMovies-container{
    border: 1px solid rgba(255, 255, 255, 0.119);
    padding: 1vh;
    text-align: center;
}

.bestMovies-text{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}