.login-form-container {
    justify-content: center;
    flex: 0.85;
}

.container-login {
    display: flex;
    border-radius: 15px;
    background-color: #4018758d;
    height: 70vh;
    width: 28vw;
    margin: auto;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
}

.login-btn {
    margin-top: 50px;
    background-color: #6A26AC;
    color: white;
    font-weight: bold;
}

.login-btn:hover {
    margin-top: 50px;
    background-color: #ffffff;
    color: #6A26AC;
    font-weight: bold;
}

.login-mainDiv {
    height: 100vh;
    display: flex;
}

.login-container-form-item {
    margin-top: 10px;
}

.login-cadastrar-usuario {
    font-weight: 100;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
}

.login-esqueceu-senha {
    margin-top: 5px;
    font-weight: 100;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #C8A5E6;
}

.full-logo-container-login {
    display: flex;
    width: 100%;
    justify-content: center;
}

.full-logo {
    width: 150px;
    margin-bottom: 20px;
    margin-top: -50px;
}