.container-manage {
    display: flex;
    border-radius: 15px;
    background-color: #3213635a;
    height: 84vh;
    width: 40vw;
    margin: auto;
    margin-top: 1.5vh;
    align-items: center;
    justify-content: center;
    border: #40187550;
    border-style: solid;
    border-width: 3px;
    color: white;
    font-weight: bold;
}

.cadastro-button {
    background-color: #6A26AC;
    color: white;
    font-weight: bold;
}

.cadastro-button:hover {
    background-color: #ffffff;
    color: #6A26AC;
    font-weight: bold;
}

.title-admin {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.input-image{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 0.25rem;
}

.login-container-form-item{
    height: 65px;
}
