.main-div-profile {
    display: flex;
    align-items: center;
    margin-top: 12vh;
    margin-left: -3vw
}

.text-div-profile {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.036);
    border-radius: 0.25rem;
    height: 60vh;
    width: 28vw;
    margin-left: 5vw;
}

.profile-info-title {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.profile-info {
    color: white;
    margin-left: 2vw;
    margin-right: -1vw;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1vh;
    font-family: 'Montserrat', sans-serif;
}

.grid-container-profile {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(10, 6.8vw);
    margin-left: 1vw;
}

#card-img-profile{
    height: 19vh;
    width: 6.3vw;
}