.ui-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  height: 12vh;
  padding: 3vw;
}

.ui-logo-header {
  height: 3rem;
  width: 3rem;
}

.justify-self-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
