.container-atualizar {
    display: flex;
    border-radius: 15px;
    background-color: #3213635a;
    height: 60vh;
    width: 35vw;
    margin: auto;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    border: #40187550;
    border-style:solid;
    border-width: 3px;
    color: white;
    font-weight: bold;
}

.update-text{
    text-align: center;
    margin-top: -6vh;
    margin-bottom: 6vh;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bolder;
}