<div>
    <header class="header">
        <img class="full-logo-header" src="../assets/images/fullMovies.png">
        <div class="buttons-header">
            <div class="input-container" style="margin-right: 20px;">
                <img src="../assets/images/search.svg">
                <input class="search-input" type="text" placeholder="pesquise aqui...">
            </div>
            <button class="buttons-header-item form-control btn btn-outline-light" style="width: 6vw;">movies</button>
            <button class="buttons-header-item  form-control btn btn-outline-light" style="width: 6vw;">profile</button>
        </div>
    </header>
    <div>
        <ul>
            <li ng-repeat="movie in movies">

            </li>

        </ul>
    </div>
</div>