<div class="gif-div" ng-show="loading">
  <img class="gif-image" src="../assets/images/loading.gif" />
</div>
<div ng-show="!loading">
  <header class="header">
    <img class="full-logo-header" src="../assets/images/amigo.png" />
    <div class="buttons-header">
      <button
        class="buttons-header-item form-control btn btn-outline-light"
        style="width: 6vw"
        ui-sref="home"
      >
        movies
      </button>
      <button
        class="buttons-header-item form-control btn btn-outline-light"
        ui-sref="profile"
        style="width: 6vw"
      >
        profile
      </button>
      <button
        class="buttons-header-item form-control btn btn-primary"
        style="width: 6vw"
        ng-click="logOut()"
      >
        log out
      </button>
    </div>
  </header>
  <div class="div-every-user-input">
    <div class="input-container" style="display: flex">
      <img src="../assets/images/search.svg" />
      <input
        class="search-input"
        style="width: 20vw"
        type="text"
        placeholder="search users..."
        ng-model="buscarFilmes"
      />
    </div>
  </div>
  <div class="div-every-user">
    <table class="table table-bordered" style="background-color: #4018752b">
      <tr>
        <th class="table-header-item">id</th>
        <th class="table-header-item">title</th>
        <th class="table-header-item">director</th>
        <th class="table-header-item">genre</th>
        <th class="table-header-item">synopsis</th>
        <th class="table-header-item">time</th>
        <th class="table-header-item">rating</th>
        <th class="table-header-item"></th>
      </tr>
      <tr
        ng-repeat="cover in covers | orderBy: 'movie.id'| filter: buscarFilmes"
      >
        <td class="td-item">{{cover.movie.id}}</td>
        <td class="td-item">{{cover.movie.name}}</td>
        <td class="td-item">{{cover.movie.director}}</td>
        <td class="td-item">{{cover.movie.genre | lowercase}}</td>
        <td class="td-item">{{cover.movie.synopsis | limitTo:40 }}...</td>
        <td class="td-item">{{cover.movie.time}} min</td>
        <td class="td-item">{{cover.movie.rating | limitTo:3}}</td>
        <td style="text-align: center" ng-click="refresh(cover)">
          <img src="../assets/images/film.svg" />
        </td>
      </tr>
    </table>
  </div>
</div>
