<div class="doca">
  <div className="doca-loading" ng-show="">
    <div className="doca-loading__animation"></div>
  </div>
  <div ng-show="!loading ">
    <div ui-navbar></div>
    </header>
    <div class="grid-container">
      <section class="grid-item" ng-repeat="cover in covers">
        <a class="card-image" ng-href="#!/movies/{{cover.movie.id}}">
          <div class="divRating">
          </div>
        </a>
      </section>
    </div>

    <div class="admin-addMovie-div">
      <button
        class="buttons-add-item-admin form-control btn btn-outline-light"
        ui-sref="create-movie"
      >
        add movie
      </button>
    </div>
  </div>
</div>
