<div>
    <header class="header">
        <img class="full-logo-header" src="../assets/images/fullMovies.png">
        <div class="buttons-header">
            <button class="buttons-header-item form-control btn btn-outline-light" style="width: 6vw;"
                ui-sref="all-movies">movies</button>
            <button class="buttons-header-item  form-control btn btn-outline-light" ui-sref="profile"
                style="width: 6vw;">profile</button>
            <button class="buttons-header-item form-control btn btn-primary" style="width:6vw" ng-click="logOut()">log
                out</button>
        </div>
    </header>

</div>