<header class="ui-header">
  <a class="ui-logo-header" ng-href="#">
    <img
      class="ui-logo-header"
      src="https://avatars.githubusercontent.com/u/55717360?s=200&v=4"
    />
  </a>
  <div>
    <button
      class="doca-button doca-button--secondary"
      ng-if="!isUserLoggedIn"
      ng-click="triggerLogin()"
    >
      Entrar
    </button>
    <button
      class="doca-button doca-button--primary"
      ui-sref="profile"
      ng-if="!isUserLoggedIn"
      ng-click="triggerRegister()"
    >
      Cadastrar
    </button>
    <button
      class="doca-button doca-button--tertiary"
      ng-if="isUserLoggedIn"
      ng-click="triggerWrite()"
    >
      <i class="doca-icon doca-icon__edit"></i>
      Escrever
    </button>
    <button
      class="doca-button doca-button--primary"
      ng-if="isUserLoggedIn"
      ng-click="logOut()"
    >
      Sair
      <i class="doca-icon doca-icon__right-from-bracket"></i>
    </button>
  </div>
</header>
