<header class="ui-header">
  <a class="ui-logo-header" ui-sref="home">
    <img
      class="ui-logo-header"
      src="https://avatars.githubusercontent.com/u/55717360?s=200&v=4"
    />
  </a>
  <div>
    <button
      class="doca-button doca-button--secondary"
      style="width: 6vw"
      ui-sref="home"
      ng-if="!isUserLoggedIn"
      ng-click="triggerLogin()"
    >
      Login
    </button>
    <button
      class="doca-button doca-button--primary"
      ui-sref="profile"
      style="width: 6vw"
      ng-if="!isUserLoggedIn"
      ng-click="triggerRegister()"
    >
      Cadastrar
    </button>
    <button
      class="doca-button doca-button--primary"
      style="width: 6vw"
      ng-if="isUserLoggedIn"
      ng-click="logOut()"
    >
      Log Out
    </button>
  </div>
</header>
