<div class="container-cadastro">
    <div class="login-form-container">
        <div class="full-logo-container">
            <img class="full-Logo-cadastro" src="../assets/images/fullMovies.png">
        </div>
        <form class="form-login">
            <div class="login-container-form-item">
                <label for="username">Username</label>
                <input class="form-control" type="text" ng-model="userData.username" ng-required="true" ng-minlength="3"
                    placeholder="" />
            </div>
            <div class="login-container-form-item">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" ng-model="userData.email" ng-required="true" ng-minlength="10"
                    placeholder="" />
            </div>
            <div class="login-container-form-item">
                <label for="password">Password</label>
                <input class="form-control" type="password" ng-model="userData.password" ng-minlength="6"
                    ng-required="true" placeholder="" />
            </div>
            <div class="login-container-form-item">
                <label for="confirmPassword">Confirm password</label>
                <input class="form-control" type="password" ng-model="userData.confirmPassword" ng-minlength="6"
                    ng-required="true" placeholder="" />
            </div>
            <div class="login-container-form-item">
                <button class="btn btn-block cadastro-button" ng-click="create()"
                    ng-disabled="!userData.email || !userData.password || !userData.username|| !userData.confirmPassword">Confirmar
                    registro</button>
            </div>
            <h6 class="login-cadastrar-usuario">Já tem uma conta? <a style="color: #C8A5E6;" href="index.html">voltar ao
                    menu inicial</a>
        </form>
    </div>
</div>