<div>
  <header class="header">
    <img class="full-logo-header" src="../assets/images/amigo.png" />
    <div class="buttons-header">
      <button
        class="buttons-header-item form-control btn btn-outline-light"
        style="width: 6vw"
        ui-sref="all-movies"
      >
        movies
      </button>
      <button
        class="buttons-header-item form-control btn btn-outline-light"
        style="width: 6vw"
        ui-sref="profile"
      >
        profile
      </button>
      <button
        class="buttons-header-item form-control btn btn-primary"
        style="width: 6vw"
        ng-click="logOut()"
      >
        log out
      </button>
    </div>
  </header>
  <div class="main-div-show">
    <div class="poster-image-div">
      <img class="poster-image" src="../assets/covers/{{cover.filename}}" />
    </div>
    <div class="text-div">
      <p class="movie-info-title">{{cover.movie.name}}</p>
      <p class="movie-info-director">{{cover.movie.director}}</p>
      <div class="organize-info" style="display: flex">
        <p class="movie-info">Duration: {{cover.movie.time}} minutes</p>
        <p class="movie-info">Rating: {{cover.movie.rating | number:1 }}</p>
        <p class="movie-info">Genre: {{cover.movie.genre}}</p>
      </div>
      <p class="movie-info-synopsis">{{cover.movie.synopsis}}</p>
      <div>
        <button
          class="buttons-show-item form-control btn btn-outline-light"
          style="width: 10vw; margin-right: -1vw"
          ng-click="addWatched()"
          ng-if="!watched && !isAdminUser"
        >
          add
        </button>
        <button
          class="buttons-show-item form-control btn btn-outline-light"
          style="width: 10vw; margin-right: -1.5vw"
          ng-click="updateWatched()"
          ng-if="watched && !isAdminUser"
        >
          update
        </button>
        <button
          class="buttons-show-item form-control btn btn-outline-light"
          style="width: 10vw"
          ng-click="removeWatched()"
          ng-if="watched && !isAdminUser"
        >
          remove
        </button>
        <button
          class="buttons-show-item form-control btn btn-outline-light"
          style="width: 12vw; margin-right: -1.5vw"
          ng-show="isAdminUser"
          ng-click="deleteMovie()"
        >
          delete the movie
        </button>
        <button
          class="buttons-show-item form-control btn btn-outline-light"
          style="width: 12vw"
          ng-click="goUpdateMovie()"
          ng-show="isAdminUser"
        >
          update the movie
        </button>
      </div>
    </div>
  </div>
</div>
