<div class="doca">
  <navbar></navbar>
  <div style="padding-inline: 20%">
    <loading class="doca-mt-8" ng-show="loading"></loading>
    <div class="doca-mt-8" ng-show="!loading">
      <h1 class="doca-page__title">{{post.title}}</h1>
      <div
        class="doca-mt-4 doca-flex doca-flex-row doca-gap-2 doca-itens-center"
      >
        <img
          alt="Imagem"
          class="doca-avatar doca-avatar--rounded doca-avatar--large"
          src="https://avatars.githubusercontent.com/u/119615473?v=4"
        />
        <div class="doca-flex doca-flex-col">
          <p>{{ post.user.name }}</p>
          <p>{{ post.created_at | dateFormat: 'DD/MM/YYYY' }}</p>
        </div>
      </div>
      <hr class="doca-separator" />
      <div
        style="display: flex; flex-direction: row; align-content: space-between"
      >
        <div>
          <button
            class="doca-button doca-button--rounded doca-button--tertiary"
            ng-click="like()"
          >
            <i
              class="doca-icon doca-icon__heart"
              ng-class="{ 'doca-icon--solid doca-text--danger': post.is_liked, 'doca-icon--regular': !post.is_liked }"
            >
            </i>
            {{post.total_likes}}
          </button>
        </div>
        <div style="margin-left: auto">
          <button
            class="doca-button doca-button--rounded doca-button--tertiary"
          >
            <i class="doca-icon doca-icon__pen"> </i>
          </button>
          <button
            class="doca-button doca-button--rounded doca-button--tertiary"
            ng-click="deletePost()"
          >
            <i class="doca-icon doca-icon__trash"> </i>
          </button>
        </div>
      </div>
      <hr class="doca-separator" />
      <p class="doca-page__subtitle doca-mt-4">{{post.content}}</p>
    </div>
  </div>
</div>
